<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <connectionStrings>
        <add name="DefaultConnection" 
             connectionString="Server=52.206.202.113,2222;Database=quan_ly_tai_lieu;User Id=sa;Password=07122005Ab;Encrypt=False;" 
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>